<section>
<div class="container mt-5">
    
<table class="table table-striped">
  <thead >
    <tr>
      <th scope="col">name</th>
      <th scope="col">item</th>
      <th scope="col">desc</th>
      <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.description}}</td>
      <td><img src='/product-images/{{this._id}}.jpg' height="50px" width="50px"></td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you want to delete {{this.Name}}?')">Delete</a>
        </td>
    </tr>
{{/each}}
  </tbody>
</table>
<div class="row">
        <a href="admin/add-form" class="btn btn-primary ml-auto mr-auto ">Add item</a>
    </div>
</div>
</section>