<section>
    <div class="container">
        <div class='row p-5'>
            <div class='col-md-4'></div>
            <div class='col-md-4'>
                <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                <form accept-charset="UTF-8" action="/payment?amount={{data.amount}}&id={{data.id}}&category={{data.category}}&managerid={{data.managerid}}&time={{data.time}}"
                    class="require-validation" data-cc-on-file="false"
                    data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post">
                    <div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden"
                            value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                    <div class='form-row'>
                        <div class='col-xs-12 form-group required p-2'>
                            <label class='control-label'>Name on Card</label>
                            <input class='form-control' size='4' type='text'>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-xs-12 form-group card required p-2'>
                            <label class='control-label'>Card Number</label>
                            <input autocomplete='off' class='form-control card-number' size='20' type='text'>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-xs-4 form-group cvc required p-2'>
                            <label class='control-label'>CVV</label>
                            <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4'
                                type='text'>
                        </div>
                        <div class='col-xs-4 form-group expiration required p-2'>
                            <label class='control-label'>Expiration</label>
                            <input class='form-control card-expiry-month ' placeholder='MM' size='2' type='text'>
                            <input class='form-control card-expiry-year mt-2' placeholder='YYYY' size='4' type='text'>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-md-12 p-2'>
                            <div class='form-control total btn btn-info'>
                                Total:
                                <span class='amount'>${{data.amount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-md-12 form-group p-2'>
                            <button class='form-control btn btn-primary submit-button' type='submit' onclick="return alert('Payment Successfull')">Pay »</button>
                        </div>
                    </div>
                    
                </form>
                <div class='form-row'>
                        <div class='col-md-12 form-group p-2'>
                            <a href="/cancel-payment?slotid={{data.id}}&category={{data.category}}">
                                <button class='form-control btn btn-danger submit-button'>Cancel</button>
                            </a>
                        </div>
                    </div>
            </div>
            <div class='col-md-4'></div>
        </div>
    </div>
</section>